* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

.wrapper.header {
    width: 100%;
    background: url(./src/HeroArea.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    width: 1145px;
    margin: auto;
    padding: 36px 0px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: 73px;
    height: 66px;
    cursor: pointer;
}

.naw_menue {
    display: flex;
}

.button_menue {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    background-color: #FFFFFF;
    cursor: pointer;
    margin: 0px 29px;
    transition: .5s;
    padding: 13px;
}

.button_menue:hover {
    background-color: #ffffffcc;
    transition: .5s;
}

.naw_menue .button_menue:first-child {
    margin-left: 0px;
}

.naw_menue .button_menue:Last-child {
    margin-right: 0px;
}

.decor_button_menue {
    width: 2px;
    height: 48px;
    background-color: #ffffff;

}

.find,
.order,
.user {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.find {
    background-image: url(./src/find.png);
}

.order {
    background-image: url(./src/order.png);
}

.user {
    background-image: url(./src/user-icon.png);
}

.wrapper_button_nav {
    width: 37px;
    height: 25px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    display: none;
}

.button_nav {
    width: 100%;
    height: 2px;
    background-color: #ffffff !important;
    filter: invert(1);
}

.button_nav:nth-child(2n) {
    width: 75%;
}

header {
    display: flex;
    padding: 60px 0px;
}

.block_header {
    width: 50%;
}

.block_header img {
    width: 100%;
    padding-top: 5px;
    margin-left: -70px
}

.block_header {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.block_header:last-child {
    padding-left: 25px;
    padding-top: 50px;
}

h1 {
    font-weight: bold;
    font-size: 90px;
    text-transform: uppercase;
    margin-top: 20px;
    letter-spacing: 6px;
    line-height: 1.1;
    margin-bottom: 25px;
}

h3 {
    font-weight: 400;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    line-height: 0;
}

.wrapper_price {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.price {
    margin-right: 30px;
}

.wrapper_price p {
    font-weight: 600;
    font-size: 45px;
    text-transform: uppercase;
    margin-right: 30px;
}

.wrapper_price p:last-child {
    font-size: 30px;
    color: #ffffffba;
    text-decoration: line-through;
    text-decoration-color: #ffffffba;
}

.button_white {
    margin: 20px 0px;
    background-color: #FFFFFF;
    border: none;
    padding: 17px 46px;
    border-radius: 35px;
    text-transform: uppercase;
    font-size: 22px;
    color: #FF4241;
    font-weight: 500;
    cursor: pointer;
    transition: .5s;
}

.button_white:hover {
    background-color: #ffffffcc;
}

/* Our Latest colour collection 2021 */

.colour_collection {
    display: flex;
    margin: auto;
    justify-content: center;
    flex-direction: column;
}

.wraper_h2 {
    margin-top: 96px;
    text-align: center;
}

h2 {
    font-size: 43px;
    line-height: 1.35;
    letter-spacing: 1px;
}

.wrapper_slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 80px;
}

.slider {
    overflow: hidden;
    width: 100%;
    height: 370px;
    display: flex;
    justify-content: start;
    padding: 0px 30px;
    flex-wrap: nowrap;
    position: relative;
    /* border: 1px solid black; */
}

.slider_block {
    min-width: 33.33%;
    border-radius: 35px;
    box-shadow: 0px 0px 10px #00000034;
    cursor: pointer;
    transform: scale(.8);
    transition: .3s;
    background-color: #FFFFFF;
    z-index: 1;
    padding: 40px;
    position: absolute;
    left: 0%;
    /* top:70px; */
}

/* .slider_block.active {
    transform: scale(1.2);
    z-index: 3;
    box-shadow: 0px 0px 20px #00000034;
} */

.arrow {
    width: 28px;
    height: 28px;
    border-top: 4px solid #000000;
    border-right: 4px solid #000000;
    cursor: pointer;
    z-index: 3;
    transition: .2s;
}

.arrow.active {
    border-top: 4px solid #717171;
    border-right: 4px solid #717171;
}

.arrow.left {
    transform: rotate(-135deg);
    margin-left: 8px;
}

.arrow.right {
    transform: rotate(45deg);
    margin-right: 8px;
}

.a,
.b,
.c,
.d {
    width: 100%;
    padding-top: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.a {
    background-image: url(./src/handsfree-1.png);
}

.b {
    background-image: url(./src/handsfree-2.png);
}

.c {
    background-image: url(./src/handsfree-3.png);
}

.d {
    background-image: url(./src/handsfree-4.png);
}

/* Good headphones and loud music is all you need */

.wrapper_good_head_phones {
    display: flex;
    justify-content: space-between;
}

.good_head_phones_block:first-child {
    width: 45%;
    align-items: center;
}

.good_head_phones_block:last-child {
    width: 55%;
    align-items: center;
    padding-left: 25px;
}

.good_head_phones_block .wraper_h2 {
    padding-right: 60px;
    text-align: start;
    margin-bottom: 60px;
}

.good_head_phones_content {
    display: flex;
    align-items: start;
    margin-bottom: 41px;
}

.good_head_phones_content img {
    width: 19%;
    margin-right: 30px;
}

.wrapper_content {
    padding-top: 2px;
}

.wrapper_content h4 {
    font-size: 30px;
    letter-spacing: 1px;
    margin-bottom: 8px;
}

.wrapper_content p {
    font-weight: 500;
    margin-bottom: 11px;
}

.wrapper_content a {
    color: #FF4241;
    font-weight: 600;
    text-decoration: none;
}

.good_head_phones_block_img {
    width: 100%;
    padding-top: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(./src/Group-69.png);
    margin-top: 25px;
}

/* Our Latest Product */

.our_latest_product {
    text-align: center;
    margin-top: 88px;
}

.our_latest_product h2 {
    margin-bottom: 12px;
}

.wrapper_block_our_latest_product_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
}

.wrapper_card {
    width: 33.33%;
    padding: 60px 30px 20px 15px;
}

.card {
    height: 328px;
    border-radius: 30px;
    position: relative;
}

.card.pink {
    background-color: #FFE5EE;
}

.card.blue {
    background-color: #E5F1FF;
}

.card.green {
    background-color: #E5FFFB;
}

.card>img {
    position: absolute;
    left: 10px;
    bottom: 20px;
}

.basket {
    width: 80px;
    height: 80px;
    border: 4px solid #ffffff;
    border-radius: 50%;
    position: absolute;
    right: -30px;
    top: -30px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .5s;
    scale: 1
}

.basket:hover {
    scale: 1.1;
}

.pink .basket {
    background-color: #FFE5EE;
}

.blue .basket {
    background-color: #E5F1FF;
}

.green .basket {
    background-color: #E5FFFB;
}

.basket>img {
    width: 100%;
}

.wrapper_rating {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    align-items: center;
}

.stars {
    width: 55%;
    padding-top: 10%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: start;
    background-image: url(./src/stars.png);
    align-items: center;
}

.rating {
    font-weight: 600;
}

.wrapper_price_headphone {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.headphone_colour,
.headphone_colour_price {
    font-size: 22px;
    font-weight: 600;
}

/* Whatever you get in the box */

.whatever {
    display: flex;
    margin-top: 112px;
    flex-wrap: wrap;
    justify-content: center;
}

.whatever_block:first-child {
    width: 60%;
    min-width: 300px;
}

.whatever_block:last-child {
    width: 40%;
    min-width: 300px;
    padding-right: 60px;
    padding-top: 70px;
}

.whatever_block>img {
    width: 100%;
    min-width: 300px;
}

.whatever_block h2 {
    margin-bottom: 15px;
}

.wrapper_list_info_whatever {
    display: flex;
    margin-right: 105px;
    border-bottom: 1px solid #1E1E1E;
    padding: 25px 0px 22px 20px;
    align-items: center;
    cursor: pointer;
    transition: .5s;
}

.wrapper_list_info_whatever:hover {
    background-color: #00000011;
}

.wrapper_list_info_whatever p {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}

.around {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 2px solid #1E1E1E;
    margin-right: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.arrow_whatever {
    width: 8px;
    height: 8px;
    border-top: 2px solid #1E1E1E;
    border-right: 2px solid #1E1E1E;
    transform: rotate(45deg);
}

.line {
    width: 8px;
    height: 2px;
    background-color: #1E1E1E;
    position: absolute;
}

/* subscribe */

.subscribe {
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(./src/freepik--background-complete--inject-3.png);
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.wrapper_form {
    background-color: #FFF4F4;
    display: flex;
    flex-direction: column;
    padding: 53px 110px;
    border-radius: 20px;
    align-items: center;
}

.wrapper_form h2 {
    margin-bottom: 7px;
}

form {
    margin-top: 40px;
    padding: 0;
    border-radius: 40px;
    display: flex;
    background-color: #ffffff;
    border: 2px solid #ff484800;
    transition: .5s;
}

form.active {
    border: 2px solid #FF4948;
}

#email {
    border: none;
    padding: 18px 30px;
    border-radius: 40px;
    margin-right: 60px;
    font-size: 18px;
    outline: none;
    background-color: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.button_submit {
    border-radius: 40px;
    border: none;
    background-color: #FF4948;
    color: #FFFFFF;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
    font-size: 22px;
    transition: .5s;
}

.button_submit:hover {
    background-color: #cc3939;
}

.button_submit:disabled,
.button_submit:hover:disabled {
    background-color: rgba(0, 0, 0, .1);
    border: 1px solid rgba(0, 0, 0, .1);
    color: #000000;
    cursor: not-allowed;
}

footer {
    background-color: #E86564;
    margin-top: 98px;
}

.container.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0px;
    flex-wrap: nowrap;
}

.block {
    width: 33.33%;
    display: flex;
    justify-content: start;
}

.wrapper_nav_footer.block {
    justify-content: center;
}

.wrapper_social.block {
    justify-content: end;
}

ul {
    display: flex;
}

li {
    list-style: none;
}

li a {
    font-size: 22px;
    font-weight: 500;
    margin-right: 20px;
    color: #ffffff;
    text-decoration: none;
    transition: .5s;
}

li a:hover {
    color: #ffffffb6;
}

.soc {
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 35px;
    scale: 1;
    transition: .5s;
}

.soc:hover {
    scale: 1.2;
}

.soc.face {
    margin-right: 0px;
}

.soc_logo {
    width: 100%;
    padding-top: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.insta .soc_logo {
    background-image: url(./src/insta.png);
}

.twit .soc_logo {
    background-image: url(./src/twit.png);
}

.face .soc_logo {
    background-image: url(./src/face.png);
}




@media (max-width: 1175px) {

    .container {
        width: 100%;
        padding: 0px 10px;
    }

    body {
        position: relative;
    }

    @media (max-width: 1020px) {
        .whatever_block:last-child {
            width: 80%;
            padding-right: 0px;
        }

        footer {
            margin-top: 0px;
            padding: 0px 10px;
        }

        .wrapper_list_info_whatever {
            margin-right: 0px;
        }

        .whatever_block h2 {
            text-align: center;
        }

        .wrapper_card {
            min-width: 300px;
        }

        .wrapper_good_head_phones {
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
        }

        .good_head_phones_block:first-child {
            min-width: 320px;
        }

        .good_head_phones_block:last-child {
            min-width: 320px;
        }

        .good_head_phones_block .wraper_h2 {
            padding-right: 0px;
        }

        .good_head_phones_content img {
            min-width: 65px;
        }

        .wrapper_button_nav {
            display: flex;
            z-index: 5;
            position: fixed;
            right: 30px;
        }

        .wrapper_menu_nav {
            width: 0%;
            height: 100vh;
            position: fixed;
            top: 0;
            left: 100%;
            background-color: #0000003f;
            z-index: 4;
            justify-content: flex-end;
            transition: .5s;
            display: flex;
        }

        .wrapper_menu_nav.active {
            width: 100%;
            left: 0;
        }

        .wrapper_menu_nav ul {
            width: 320px;
            height: 100vh;
            position: fixed;
            display: flex;
            flex-direction: column;
            background-color: #000000b6;
            padding: 60px 100px 60px 40px;
            transition: .5s;
            top: 0;
            right: -120%;
        }

        .wrapper_menu_nav ul.active {
            right: 0;
        }

        .wrapper_menu_nav ul li {
            margin-bottom: 30px;
            padding-right: 100px;
        }

        nav {
            justify-content: center;
            padding: 10px;
        }

        nav .naw_menue {
            margin-left: 100px;
        }


        h1 {
            font-size: 65px;
        }

        .block_header img {
            margin-left: 0px;
        }

        .block_header:last-child {
            padding-left: 0px;
        }

        .price {
            margin: 0px 30px;
        }

        .wrapper_form {
            margin-bottom: 20px;
        }

        @media (max-width: 725px) {

            .slider_block {
                width: 50%;
            }

            .button_submit:disabled,
            .button_submit:hover:disabled {
                border: none;
            }

            nav img {
                margin-bottom: 30px;
            }

            .subscribe {
                margin-top: 60px;
            }

            .container {
                padding-left: 10px;
                padding-right: 10px;
            }

            .whatever_block:last-child {
                padding-top: 30px;
            }

            .wrapper_price {
                justify-content: space-between;
            }

            header {
                flex-direction: column;
                align-items: center;
                padding: 30px 0px;
            }

            .wrapper_price p {
                margin-right: 0px;
            }

            h1 {
                font-size: 40px;
            }

            .block_header:first-child {
                width: 60%;
                min-width: 300px;
            }

            .block_header:last-child {
                width: 95%;
                min-width: 320px;
                align-items: center;
                text-align: center;
            }

            .wrapper_button_nav {
                top: 30px;
            }

            nav .naw_menue {
                margin-left: 0px;
            }

            nav {
                flex-direction: column;
                justify-content: space-around;
            }

            .wrapper_good_head_phones {
                align-items: center;
            }

            .good_head_phones_block .wraper_h2 {
                text-align: center;
            }

            .good_head_phones_content {
                justify-content: center;
            }

            .good_head_phones_block:first-child {
                width: 100%;
            }

            .good_head_phones_content img {
                width: 65px;
            }

            .card>img {
                width: 100%;
                min-width: 200px;
                left: 0px;
                bottom: 0px;
                position: static;
            }

            .wrapper_form {
                width: 100%;
                border-radius: 0px;
                border-radius: 5px;
                padding: 20px 10px;
            }

            form {
                height: 95px;
                border-radius: 23px;
                flex-direction: column;
                overflow: hidden;
            }

            #email {
                border: none;
                padding: 15px 20px;
                border-radius: 40px;
                margin-right: 0px;
                font-size: 14px;
            }

            .button_submit {
                padding: 10px 15px;

            }

            .block {
                width: 100%;
            }

            .soc {
                margin-right: 10px;
            }

            .wrapper_nav_footer.block {
                display: none;
            }


            .arrow {
                /* width: 22px;
                height: 22px; */
                display: none;
            }

            @media (max-width:560px) {
                .slider_block {
                    width: 100%;
                }


                @media (max-width: 455px) {
                    .wrapper_menu_nav ul {
                        width: 100%;
                    }

                    .wrapper_menu_nav {
                        background-color: #00000000;
                    }
                }
            }
        }
    }
}